/*通用页面footer*/
.page-footer{
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 1200px;
  font-size: 14px;
  color: #888;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 0 0;
  padding: 24px 0 16px;
  z-index: 9991;
}
.page-footer .line{
  color: #99999950;
  margin: 0 5px;
}
.page-footer .f-nav{
  max-width: 1200px;
  padding: 6px 0;
}
.page-footer .f-nav a{
  color: #888;
  font-size: 14px;
}
.page-footer .f-copyright{
  margin-top: 6px;
}
.page-footer .f-copyright a{
  color: #999;
}
.page-footer a:hover{
  color: #2696f6;
}